p , h2 {
    color: blue;
}
.p1{
    color: red;
}
div > p > strong{
    color: greenyellow;
}
div > h2 strong{
    color: yellow;
}
.container .list #item{
    color: rgb(255, 0, 47);
}
div> ul>li{
    color: rgb(43, 226, 67);
}
