.d1{
   background: green;
    width: 35%;
    height: 150px;
    margin:  auto;
 
}
.p1{
    background: blue;
    width: 100%;

}

 .p1 > p{
    background:  red ;
    margin-top: 50px;
    width: 80%;
    height: 20px;
    

}